.ascii-title {
	padding-right: 3em;
	padding-left: 3em;
}

body {
	font-family: 'Press Start 2P', cursive;
}

.draw-grid-button {
	padding-top: 3px;
}

table, td {
	border: 1px solid black;
	border-collapse: collapse;
}

input {
	margin-top: 1em;
	padding-left: 2px;
	padding-right: 2px;
	border: 2px solid black;
	font-family: 'Press Start 2P', cursive;
}

.input-height, .input-width {
	background-color: white;
	color: black;
	width: 10em;
	padding-top: 2px;
}

p, pre, div, td {
	text-align: center;
}

pre {
	font-size: 75%;
}

.grid-cell {
	width: 20px;
	height: 20px;
}

table {
	margin: 0 auto;
}
